{% extends "plantilla.html" %}

{% block titulo %}mas{% endblock %}

{% block contenido %}

<div class="clearfix">
    <video src="static/img/video2.mp4" width="300" height="350" class="col-md-6 float-md-end mb-0 ms-md-0 modal-sm" autoplay playinline loop muted preload="auto"></video>
    
    <h5>Los negocios de restaurantes están amparados al cumplimiento de la siguiente normatividad sanitaria:</h5>
    
    <ol class="list-group list-group-numbered mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Ley 9 de 1979:</div>
            Por la cual se dictan medidas sanitarias.
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Resolución 5109 de 2005: </div>
            Por la cual se establece el reglamento técnico sobre los requisitos de rotulado o etiquetado que deben cumplir los alimentos envasados y materias primas de alimentos para consumo humano.
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Resolución 2674 de 2013:</div>
            Por la cual se reglamenta el artículo 126 del Decreto Ley 019 de 2012 y se dictan otras disposiciones.
          </div>
        </li>
    </ol>
    
    <h5>Por su parte, los negocios de droguerías deben cumplir la siguiente normatividad:</h5>

    <ol class="list-group list-group-numbered mb-3">
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Resolución 10911 de 1992: </div>
            Por la cual se determinan los requisitos para apertura y traslado de las droguerías o farmacias-droguerías.
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Resolución 1478 de 2006:</div>
            Por la cual se expiden normas para el control, seguimiento y vigilancia de la importación, exportación, procesamiento, síntesis, fabricación, distribución, dispensación, compra, venta, destrucción y uso de sustancias sometidas a fiscalización, medicamentos o cualquier otro producto que las contengan y sobre aquellas que son monopolio del Estado.
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Resolución 1403 de 2007:</div>
            Por la cual se determina el modelo de gestión del servicio farmacéutico, se adopta el Manual de condiciones esenciales y procedimientos, y se dictan otras disposiciones.
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start border border-0">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Decreto 780 de 2016:</div>
              Por medio del cual se expide el Decreto Único Reglamentario del Sector Salud y Protección Social.
            </div>
          </li>
    </ol>

    <p>
        La información es obtenida de las siguientes páginas web: <a href="http://autorregulacion.saludcapital.gov.co/restaurantes" target="_blank">http://autorregulacion.saludcapital.gov.co/restaurantes</a> y <a href="http://autorregulacion.saludcapital.gov.co/droguerias" target="_blank">http://autorregulacion.saludcapital.gov.co/droguerias</a>
    </p>
  </div>

{% endblock %}