{% extends "plantilla.html" %}

{% block titulo %}Nosotros{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">¿QUIENES SOMOS?</h1>
            <P class="fs-5 text-secondary">
                Somos estudiantes del Diplomado de Desarrollo de Software impartido por la Universidad Tecnológica de Pereira y auspiciada por el Ministerio de Tecnologías y Comunicaciones de Colombia.
            </P>
            <P class="fs-5 text-secondary">
                Nuestro grupo se encuentra conformado por los estudiantes:
            </P>
        </div>
    </div>
    <div class="row">
        <!--  TARJETA DE PABLO  -->
        <div class="col-3">

            <div class="card w-100 shadow bg-body rounded border border-0" style="width: 18rem;">
                <img src="static/img/pablo.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pablo Alexander Salazar Sanchez</h5>
                    <p class="card-text">Apacionado por el diseño y el desarrollo Frontend</p>
                    <div class="row">
                        <div class="col-4">
                            <a href="https://github.com/pablo19-alexander" target="_blank" class="btn border border-0 d-flex justify-content-end" role="button">
                                <i class="fa-brands fa-github fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.linkedin.com/in/pablo-alexander-salazar-sanchez-78456b187/" target="_blank" class="btn border border-0 d-flex justify-content-center" role="button">
                                <i class="fa-brands fa-linkedin fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com/iampablo_19/" target="_blank" class="btn border border-0 d-flex justify-content-start" role="button">
                                <i class="fa-brands fa-instagram fs-2"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer border border-0">

                </div>
            </div>
        </div>

        <!--  TARJETA DE 2  -->
        <div class="col-3">
            
            <div class="card w-100 shadow bg-body rounded border border-0" style="width: 18rem;">
                <img src="static/img/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">nombre completo</h5>
                    <p class="card-text">descripcion</p>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-end" href="" role="button">
                                <i class="fa-brands fa-github fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-center" href="" role="button">
                                <i class="fa-brands fa-linkedin fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-start" href="" role="button">
                                <i class="fa-brands fa-instagram fs-2"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer border border-0">

                </div>
            </div>

        </div>
        
        <!--  TARJETA DE 3  -->
        <div class="col-3">
            
            <div class="card w-100 shadow bg-body rounded border border-0" style="width: 18rem;">
                <img src="static/img/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">nombre completo</h5>
                    <p class="card-text">descripcion</p>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-end" href="" role="button">
                                <i class="fa-brands fa-github fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-center" href="" role="button">
                                <i class="fa-brands fa-linkedin fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-start" href="" role="button">
                                <i class="fa-brands fa-instagram fs-2"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer border border-0">

                </div>
            </div>

        </div>

        <!--  TARJETA DE 4  -->
        <div class="col-3">
            
            <div class="card w-100 shadow bg-body rounded border border-0" style="width: 18rem;">
                <img src="static/img/" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">nombre completo</h5>
                    <p class="card-text">descripcion</p>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-end" href="" role="button">
                                <i class="fa-brands fa-github fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-center" href="" role="button">
                                <i class="fa-brands fa-linkedin fs-2"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="btn border border-0 d-flex justify-content-start" href="" role="button">
                                <i class="fa-brands fa-instagram fs-2"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer border border-0">

                </div>
            </div>

        </div>
    </div>

{% endblock %}