{% extends "plantilla.html" %}

{% block titulo %}Lista de requerimientos{% endblock %}

{% block contenido %}

<div class="card shadow p-1 mb-3 bg-body rounded">
    <div class="card-header">
        REQUERIMIENOS DE REQUERIMIENOS
    </div>
    <div class="card-body">
        <div class="mb-3 d-flex justify-content-between">
            <h4 class="card-title">Lista de requerimientos</h4>
            <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo requerimiento</a>
        </div>
        <div class="table-responsive">
            <table id="example" class="table">
                <thead class="table-dark">

                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Tipo de negocio</th>
                        <th scope="col">Description</th>
                        <th scope="col">Acciones</th>
                    </tr>

                </thead>

                <tbody>
                    {% for item in items %}
                    <tr class="">
                        <td scope="row">{{item.id}}</td>

                        {% if item.id_tipo_negocio == 1 %}
                        <td>Restaurante</td>
                        {% else %}
                        <td>Drogueria</td>
                        {% endif %}
                        <td style="max-width: 600px;">{{item.descripcion}}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar' item.id %}" role="button">Editar</a> 
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' item.id %}" role="button">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}